:root {
    --current-item-img: "images/coin-fallback.npg";
}

* {
    box-sizing: border-box;
}

html, #pageContainer {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;
    overflow: hidden;
}

a:hover {
    text-decoration: underline;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#pageContainer {
    position: relative;
}

#siteHeader #midScreen #binContainer {
    position: absolute;
}

#siteHeader {
    background-color: rgb(184, 239, 230);
    height: 75px;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-image: url("images/trash-SHADED.png");
    background-position-x: center;
    background-position-y: bottom;
}

#midScreen {
    /* background-color: rgb(0, 255, 98); */
    top: 75px;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#binContainer {
    display: flex;
    bottom: 0;
    /* background-color: lightslategrey; */
    height: 200px;
    width:100%;
    justify-content: space-around;
}

.trashBin {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    image-rendering: crisp-edges;
    transition: .5s;
    margin-top: 50px;
}

.trashBin:hover {
    margin-top: 0px;
}

#instruction {
    /* background-color: blueviolet; */
    color: whitesmoke;
    width: 33%;
    font-size: 30px;
    padding-left: 5px;
    font-family: Helvetica;
} 
#scoreCount {
    /* background-color: rgb(206, 135, 135); */
    color: whitesmoke;
    width: 33%;
    text-align: center;
    font-size: 60px;
    font-family: Helvetica;
} 
#word {
    /* background-color: rgb(23, 168, 40); */
    color: whitesmoke;
    width: 33%;
    text-align: end;
    font-size: 30px;
    padding-right: 5px;
    font-family: Helvetica;
} 

#renderedItemDiv {
    width: 30%;
    height: 30cqw;
    /* background-color: rgb(92, 208, 208); */
    background-image: url("images/init-recycle-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
}